@font-face {
    font-family: josefin;
    src: url(font/JosefinSans-Bold.ttf);
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(darkgreen 25%, rgba(128, 128, 128, 0.24) 25%);
    font-family: josefin ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 90vh;
    width: 85%;
    background-color: white;
    font-family: josefin, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin: 4vh auto;
}
.user{
    display: flex;
    flex-direction: column;
    height: 83vh;
    width: 35%;
    background-color: white;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16vh;
    margin-bottom: 2vh;
    background-color: white;
}
.gaz{
    justify-content: flex-start;
    margin-left: 5px;
    margin-top: 8px;
}
.testo{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 17px;
    margin-left: 5px;
}
img{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 35px;
}
input{
    width: 100%;
    margin-left: 0px;
    padding: 4px;
    margin-bottom: 2vh;
    height: 5vh;
    margin-top: 15px;
    border: none;
}
.contact{
    display: flex;
    flex-direction: column;
}
.ninho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color:  rgba(128, 128, 128, 0.24);
    border-right: 4px solid black;
}
.left{
    width: 15%;
    margin-top: 17px;
}
.centre{
    width: 65%;
    margin-top: 3px;
}
.right{
    width: 20%;
    margin-top: 0px;
}
.mhd{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: 100%;
        background-color: white;
}
strong{
    font-weight: bold;
}
.gims{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-top: 0px;
    width: 100%;
    background-color: white;
}
.niska{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 0px;
    background-color: white;
}
.papillon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 0px;
    background-color: white;
}
.sms{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 87vh;
}
.inter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 1vh;   
}
.let{
    display: flex;
    flex-direction: row;
}
.ari{
    justify-content: flex-start;
    margin-left: 5px;
    margin-top: 8px;
}
.ari img{
    margin-top: 9px;
}
.san{
    margin-top: 0px;
    margin-left: 7px;
}
.led{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 8px;
    margin-left: 5px;
}
.pied{
    margin-top: 17px;
}
.main{
    margin-top: 17px;
}
.echange{
    height: 72vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.echange h5{
    text-align: center;
    margin-top: 0;
}
.large{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellowgreen;
    color: black;
    height: 9%;
    width: 25%;
    border: 1px solid rgb(145, 212, 145);
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 2px;
}
.blanc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 13%;
    width: 25%;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 65%;
    margin-top: 2px;
}
.cas{
    margin-top: 15px;
}
.orange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 16%;
    width: 25%;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 65%;
    margin-top: 2px;
}
.noir{
    margin-top: 19px;
}
.blue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellowgreen;
    color: black;
    height: 16%;
    width: 25%;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 2px;
}
.chat{
    margin-top: 25px;
}
.clavier{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2px;
}
.un{
    width: 4%;
}
.deux{
    width: 89%;
    margin-top: 4px;
}
.trois{
    width: 5%;
}